<% flash.each do |key, value| %>
  <div class="alert alert-<%= bootstrap_alert(key) %>">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong><%= value %></strong>
  </div>
<% end %>