<div class="container-fluid">
  <div class="jumbotron">
    <h1>Arti<span class="glyphicon glyphicon-cd" aria-hidden="true"></span>Cle</h1>
    <p>...</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
  </div>
</div>

<%# アーティストランキングの表示 %>
<%= render 'shared/ranking', ranking_artist: @ranking_artist %>

<%# 投稿したアーティストを表示 %>
<%= render 'shared/artist_list', rooms: @rooms %>

<%# ページネーション %>
<%= paginate @rooms %>