<div class="jumbotron jumbotron-extend text-right">
  <h1>Arti<span class="glyphicon glyphicon-cd" aria-hidden="true"></span>Cle</h1>
  <p>-Artistの輪を広げよう-</p>
</div>
<div class="contents-info">
  <div class="contents-title">〜Arti<span class="glyphicon glyphicon-cd" aria-hidden="true"></span>Cleとは〜</div>
  <div class="info">
    <p>「Arti<span class="glyphicon glyphicon-cd" aria-hidden="true"></span>Cle」とは、「Artist」×「Circle」から来ています。</p>
    <p>世界中には、大勢の多種多様なアーティストがいます。何かきっかけがない限り好きになれるアーティストにはなかなか巡り合えません。</p>
    <p>このアプリは、ユーザー同士で好きなアーティストの輪を広げる為のチャットツールです。</p>
  </div>
</div>
<div class="contents-use">
  <div class="contents-title">〜Arti<span class="glyphicon glyphicon-cd" aria-hidden="true"></span>Cleの使い方〜</div>
  <div class="info">
    <p>〜ログインして始めましょう〜</p>
    <p>1. 好きなアーティストを投稿 or 好きなアーティストのチャットに参加しましょう！</p>
    <p>2. ファン同士で交流を深めましょう！(該当アーティストについて語り合い、他の好きなアーティストの紹介etc...)</p>
    <p>3. 好きなアーティストをお気に入り登録しましょう!</p>
    <p>4. My Profileを充実させましょう!</p>
  </div>
</div>

