@import "bootstrap-sprockets";
@import "bootstrap";
@import "./reset";
@import "./rooms";
@import "./users";
@import "./messages";
@import "./homes";

.container {
  background-color: black;
}

.navbar-brand {
  color: skyblue;
}

.nav.navbar-nav li a {
  color: skyblue;
}

