.jumbotron-extend {
  background-image: url("sign_up.jpg");
  background-size: cover;
  height: 100vh;
  min-height: 300px;
  background-repeat: no-repeat;
  position: relative;
}

.jumbotron-extend-session {
  background-image: url("log-in.jpg");
  background-size: cover;
  height: 100vh;
  min-height: 300px;
  background-repeat: no-repeat;
  position: relative;
}

.text-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 30%;
  border: 5px solid yellow;
  background-color: white;
  opacity: 0.9;
}

.form-text-wrap {
  text-align: left;
  font-size: 17px;
  padding-left: 10px;
}

.input-default {
  width: 80%;
  margin-top: 5px;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
}

.btn-group {
  margin: 30px auto;
}